<div class="w-full max-w-sm  mx-auto py-12 px-5 min-h-screen flex flex-col gap-5">
    <div class="text-sm font-semibold uppercase tracking-widest"> Currently viewing:
        {{ title }}</div>
    <div class="w-full grid grid-cols-3 gap-3 bg-white rounded-2xl p-2">
        <div class="aspect-square overflow-hidden rounded-xl">
            <img src="{{ featured_media }}">
        </div>
        <div class="col-span-2 p-2">
            <div class="text-xl font-semibold">
                {{ title }}
            </div>
            <div>{{ content | safe_truncate:40:... }}</div>
        </div>
    </div>

    <div class="h-0.5 w-full rounded-full bg-neutral-200 my-8"></div>

    <div class="flex flex-col gap-3">
        <div class="text-sm font-semibold uppercase tracking-widest">More</div>
        {{ collection:events sort="date:asc" :id:not="id" }}
            <a href="{{ url }}">
                <div class="w-full grid grid-cols-3 gap-3 bg-white rounded-2xl p-2">
                    <div class="aspect-square overflow-hidden rounded-xl">
                        <img src="{{ featured_media }}">
                    </div>
                    <div class="col-span-2 p-2">
                        <div class="text-xl font-semibold">
                            {{ title }}
                        </div>
                        <div>{{ content | safe_truncate:40:... }}</div>
                    </div>
                </div>
            </a>
        {{ /collection:events }}
    </div>
</div>
